<header class="global-header"></header>
<div class="content">
  <div class="project">

    <header>
      <section>
        <div class="info">
          <h1 class="title">I and my sister ... two little monsters</h1>
          <span class="timestamp">Nov. 20, 2014</span>
          <div class="skill two-d-animation">
            <a href="#" class="badge"></a>
            <a href="#" class="name">2D Animation</a>
          </div>
          <div class="skill musician">
            <a href="#" class="badge"></a>
            <a href="#" class="name">Computer Animation</a>
          </div>
          <div class="skill illustrator">
            <a href="#" class="badge"></a>
            <a href="#" class="name">Various Drawing Styles</a>
          </div>
          <span class="maker">
            <a href="#" class="avatar mod">
              <img src="https://d3hv8qdd474bjn.cloudfront.net/animal_bobcat_small.jpg?r=12" class="avatar">
            </a>
            <a href="#" class="nickname">Night Fury M</a>
          </span>
        </div>
        <div class="media">
          <a href="#" class="favorite"></a>
          <img src="https://d28y5daoc1t3a7.cloudfront.net/db/3c66b09d2f11e48885e1d1596575a4/ygjg.jpg" />
        </div>
      </section>
    </header>

    <div class="interactions">
      <section>
        <ul class="comments">
          <h2>16 Comments</h2>
          <li class="comment">
            <a href="#" class="avatar">
              <img src="https://d3hv8qdd474bjn.cloudfront.net/animal_bobcat_small.jpg">
            </a>
            <div class="balloon">
              <a href="#" class="nickname">Night Fury M</a>
              <span class="timestamp">2m</span>
              <span class="body">
                I do not care about what you did to the bike, but that is one fantastic photo.
              </span>
              <a href="#" class="reply"></a>
            </div>
          </li>
          <li class="comment">
            <a href="#" class="avatar">
              <img src="https://d3hv8qdd474bjn.cloudfront.net/minecrafthead_small.jpg">
            </a>
            <div class="balloon">
              <a href="#" class="nickname">Night Fury M</a>
              <span class="timestamp">2m</span>
              <span class="body">
                Is that for reals?
              </span>
              <a href="#" class="reply"></a>
            </div>
          </li>
          <form>
            <a href="#" class="avatar mod">
              <img src="https://d3hv8qdd474bjn.cloudfront.net/joy_division_small.jpg">
            </a>
            <div class="contain">
              <textarea placeholder="Add a new comment"></textarea>
            </div>
          </form>
        </ul>
        <ul class="favorites">
          <h2>30 Favorites</h2>
          <li class="favorite">
            <a href="#" class="avatar">
              <img src="https://d3hv8qdd474bjn.cloudfront.net/unicorn_small.jpg">
              <a href="#" class="nickname">danyeller</a>
            </a>
          </li>
          <li class="favorite">
            <a href="#" class="avatar">
              <img src="https://d3hv8qdd474bjn.cloudfront.net/codybrown_small.jpg">
              <a href="#" class="nickname">Secret angentinian</a>
            </a>
          </li>
          <li class="favorite">
            <a href="#" class="avatar">
              <img src="https://d3hv8qdd474bjn.cloudfront.net/rainbowman_small.jpg">
              <a href="#" class="nickname">Cardboard Mary</a>
            </a>
          </li>
        </ul>
      </section>
    </div>

  </div>
</div>



